* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/* header part  */
.header {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
}
.logo {
  float: left;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 33%;
  margin-left: 10px;
}
.logo-text {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  align-items: center;
}

.logo-text p {
  font-size: 19px;
  width: 100%;
  margin: 1px;
  text-align: center;
  font-weight: bolder;
  display: inline-block;
  width: 321px;
}

.navbar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbar-nav {
  flex-direction: column;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.nav-item {
  font-family: "Open Sans";
  font-weight: 900;
}

/* main-box of contact page  */

.main-box1 {
  width: 90%;
  height: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main-box {
  width: 80%;
  height: 100vh;
  margin: 30px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

/* main box content  */

.boxa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.boxa P {
  margin-bottom: 1rem;
  width: 81%;
  text-align: justify;
}
.meet-h2 {
  font-size: 3rem;
  text-align: center;
  margin: 48px;
  font-weight: 900;
}
#boxapara {
  margin-bottom: 1rem;
  width: 81%;
  text-align: center;
}

.boxa-img {
  width: 90%;
  margin: 30px;
}

hr {
  width: 40%;
  border-top: 4px dotted black;
}

/* main box 2 */

.main-box-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  height: 70vh;
  margin: 30px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-box-2 h2 {
  text-transform: uppercase;
  text-decoration: underline;
  margin: 10px auto;
  font-weight: 900;
  width: 90%;
  text-align: center;
}
.main-box-p {
  display: flex;
  height: 65%;
  justify-content: space-between;
  flex-direction: column;
}
.main-box-2 p {
  width: 85%;
  margin: auto;
}

/* footer  */

footer {
  outline: 1px solid #cce7f3 !important;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-column: 25%;
  margin-top: 50px;
  width: 100%;
  height: 300px;
}
.footer-text-grid {
  height: 150px;
  display: flex;
  flex-direction: column;
}

.footer-img {
  display: flex;
  margin: auto;
  height: 200px;
  width: 200px;
}

.footer-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.footer-box h2 {
  font-size: 29px;
  font-weight: 900;
}
.nav-item {
  font-size: 20px;
}

.footer-text-grid {
  height: 150px;
}

/* 1nd Media Query */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  navbar {
    height: 80px;
  }
  .logo {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
  }
  .logo1 {
    height: 45px;
    border-radius: 15%;
  }
  .logo-text {
    width: 180px;
  }

  .logo-text p {
    width: 100%;
    font-size: 10px;
  }
  .meet-h2 {
    font-size: 31px;
    text-align: center;
    margin: 25px auto;
    font-weight: 900;
  }
  #logo-caption {
    font-size: 7px;
  }
  .nav-link {
    font-size: 15px;
    text-align: -moz-center;
    color: rgb(104, 97, 97);
  }
  .navbar-nav {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
  }
  /* main section  */
  .main-box {
    width: 90%;
    height: 129vh;
    margin: 30px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    flex-direction: column;
  }
  .main-box1 {
    width: 100%;
    height: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: inherit;
  }
  .main-box-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    height: 52vw;
    margin: 30px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .boxa h2 {
    margin: 2px;
  }
  .boxa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
  .boxa-img {
    width: 72%;
    margin: 17px;
  }
  .main-box-2 h2 {
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 900;
    width: 90%;
    text-align: center;
    font-size: 21px;
  }

  .main-box-p {
    display: flex;
    height: 65%;
    flex-direction: column;
    font-size: 10px;
    text-align: justify;
  }
  /* footer  */
  footer {
    outline: 1px solid #cce7f3 !important;
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    height: 100%;
    align-content: end;
    grid-gap: 10px;
  }
  .footer-img {
    display: flex;
    margin: auto;
    height: 100px;
    width: 100px;
  }
  .footer-box {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 1px 0 rgba(0, 0, 0, 0.19);
    height: 200px;
  }
  .nav-link {
    font-size: 13px;
    text-align: center;
  }
  .footer-box h2 {
    font-size: 25px;
    font-weight: 900;
    margin: 9px 0 0;
  }
}

/* 2nd media Query */
@media only screen and (min-device-width: 481px) and (max-device-width: 581px) {
  /* navbar  */
  navbar {
    height: 80px;
  }
  .logo {
    width: 75%;
    display: flex;
    margin: auto;
  }
  .logo1 {
    height: 50px;
    border-radius: 14%;
  }
  .logo-text {
    width: 90%;
  }

  .logo-text p {
    width: 100%;
    font-size: 13px;
  }
  .meet-h2 {
    font-size: 39px;
    text-align: center;
    margin: 24px auto;
    font-weight: 900;
    width: 85%;
  }

  #logo-caption {
    font-size: 9px;
  }

  /* main section  */
  .main-box {
    width: 90%;
    height: 174vh;
    margin: 30px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    flex-direction: column;
}
  .main-box1 {
    width: 100%;
    height: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: inherit;
  }
  .main-box-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    height: 26vh;
    margin: 30px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .boxa h2 {
    margin: 6px;
  }
  .boxa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13px;
  }
  .boxa P {
    margin-bottom: 1rem;
    width: 90%;
    text-align: justify;
  }
  .boxa-img {
    width: 84%;
    margin: 17px;
  }
  .main-box-2 h2 {
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 900;
    width: 89%;
    text-align: center;
    font-size: 24px;
  }
  .main-box-p {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    text-align: center;
  }
  /* footer  */
  footer {
    outline: 1px solid #cce7f3 !important;
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    height: 100%;
    align-content: end;
    grid-gap: 10px;
  }
  .footer-img {
    display: flex;
    margin: 9px auto 0px;
    height: 100px;
    width: 100px;
  }
  .footer-box {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    height: 200px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 1px 0 rgba(0, 0, 0, 0.19);
  }
  .nav-link {
    font-size: 13px;
    text-align: -moz-center;
  }

  .footer-box h2 {
    font-size: 30px;
    font-weight: 900;
    margin: 9px 0 0;
  }
}

/* 3rd Media Query  */
@media only screen and (min-device-width: 581px) and (max-device-width: 781px) {
  /* navbar  */
  navbar {
    height: 80px;
  }
  .logo {
    width: 80%;
    display: flex;
    margin: auto;
  }
  .logo1 {
    height: 57px;
    border-radius: 14%;
  }
  .logo-text {
    width: 90%;
  }

  .logo-text p {
    width: 100%;
    font-size: 19px;
  }

  #logo-caption {
    font-size: 10px;
  }

  /* main section  */
  .main-box {
    width: 90%;
    height: 147vh;
    margin: 30px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    flex-direction: column;
  }
  .main-box1 {
    width: 100%;
    height: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: inherit;
  }
  .main-box-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    height: 34vh;
    margin: 30px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .boxa h2 {
    margin: 6px;
  }
  .boxa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }
  .boxa P {
    margin-bottom: 1rem;
    width: 90%;
    text-align: justify;
  }
  .boxa-img {
    width: 67%;
    margin: 17px;
  }
  .main-box-2 h2 {
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 900;
    text-align: center;
    font-size: 40px;
    margin-top: 31px;
  }
  .main-box-p {
    display: flex;
    font-size: 15px;
    text-align: center;
    height: 77%;
    align-items: center;
    justify-content: space-evenly;
  }

  /* footer  */
  footer {
    outline: 1px solid #cce7f3 !important;
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    height: 100%;
    align-content: end;
    grid-gap: 10px;
  }
  .footer-text-grid {
    height: 150px;
    width: auto;
  }
  .footer-img {
    display: flex;
    margin: 9px auto 0px;
    height: 100px;
    width: 100px;
  }
  .footer-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 200px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 1px 0 rgba(0, 0, 0, 0.19);
  }
  .nav-link {
    font-size: 15px;
    text-align: -moz-center;
  }
  .footer-box h2 {
    font-size: 30px;
  }
  .nav-item {
    text-align: center;
  }
}

/* 4th Media Query */
@media only screen and (min-device-width: 782px) and (max-device-width: 990px) {
  /* navbar  */
  navbar {
    height: 80px;
  }
  .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-lg,
  .navbar > .container-md,
  .navbar > .container-sm,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-around;
  }
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    text-align: center;
  }

  .logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 85%;
    margin-left: 10px;
  }
  .logo1 {
    height: 57px;
    border-radius: 14%;
  }
  .logo-text {
    width: 90%;
  }

  .logo-text p {
    width: 100%;
    font-size: 30px;
  }

  #logo-caption {
    font-size: 13px;
  }

  /* main section  */
  .main-box {
    width: 80%;
    height: auto;
    margin: 30px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .main-box-p {
    display: flex;
    height: 65%;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
  }
  .main-box-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    height: 30vh;
    margin: 30px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .left-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 7px;
    margin: auto;
    height: 50%;
    margin-bottom: -5px;
  }
  .right-hero,
  .right-hero-two {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2px;
    text-align: justify;
    flex-direction: column;
  }
  section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 50%;
    flex-direction: column-reverse;
  }

  .section1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 50%;
    flex-direction: column-reverse;
  }
  .right-hero-two {
    background-image: url("./images/sushant.jpeg");
    border-radius: 2%;
    height: 239px;
    margin-top: 10px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  /* section 1 */
  .heading-line {
    font-size: 24px;
    font-weight: 700;
    margin: 13px;
    text-align: start;
  }
  .left-hero-text {
    font-size: 14px;
    width: 90%;
  }
  .right-hero {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-align: justify;
    flex-direction: column;
  }
  /* footer  */
  footer {
    outline: 1px solid #cce7f3 !important;
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    height: 100%;
    align-content: end;
    grid-gap: 10px;
  }
  .footer-text-grid {
    height: 150px;
    width: auto;
  }
  .footer-img {
    display: flex;
    margin: 9px auto 0px;
    height: 100px;
    width: 100px;
  }
  .footer-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 200px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 1px 0 rgba(0, 0, 0, 0.19);
  }
  .nav-link {
    font-size: 15px;
    text-align: center;
    color: #756868;
    font-weight: 877;
  }
  .footer-box h2 {
    font-size: 30px;
  }
  .nav-item {
    text-align: center;
    font-size: 20px;
  }
}

/* 5th Media Query */
@media only screen and (min-device-width: 991px) and (max-device-width: 1240px) {
  /* Header styles */
  .header {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;
  }

  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 41%;
    margin-left: 10px;
  }

  .logo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 72%;
  }
  .logo-text p {
    font-size: 20px;
    width: 321px;
    margin: 1px;
    text-align: center;
    font-weight: bolder;
  }
  #logo-caption {
    font-size: 9px;
  }

  /* Navbar styles */
  .navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .navbar-nav {
    flex-direction: row;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .nav-item {
    font-family: "Open Sans";
    font-weight: 900;
    font-size: 20px;
  }
  /* main section  */
  .main-box {
    width: 80%;
    height: 78%;
    margin: 30px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

  .main-box1 {
    height: 100%;
  }

  .main-box-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    height: 29vw;
    margin: 30px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .main-box-2 h2 {
    text-transform: uppercase;
    text-decoration: underline;
    margin: 15px auto;
    font-weight: 900;
    width: 90%;
    text-align: center;
    font-size: 42px;
  }
  .main-box-p {
    text-align: center;
  }
  /* footer  */
  footer {
    outline: 1px solid #cce7f3 !important;
    display: grid;
    margin-top: 50px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column: 25%;
    width: 100%;
    height: 300px;
  }
  .footer-text-grid {
    height: 150px;
    display: flex;
    flex-direction: column;
  }

  .footer-img {
    display: flex;
    margin: auto;
    height: 200px;
    width: 200px;
  }
  .footer-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .footer-box h2 {
    font-size: 27px;
    font-weight: 900;
    text-align: center;
  }
  .nav-item {
    font-size: 16px;
    text-align: center;
  }

  .footer-text-grid {
    height: 150px;
  }
}

/* 6th media query */
@media only screen and (min-device-width: 1241px) {
  /* Header styles */
  .header {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;
  }

  .logo {
    float: left;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 38%;
    margin-left: 10px;
  }
  #logo-caption {
    font-size: 11px;
    width: 321px;
    margin: 1px;
    text-align: center;
    font-weight: bolder;
  }
  .logo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 59px;
  }

  .logo-text p {
    font-size: 19px;
    width: 321px;
    margin: 1px;
    text-align: center;
    font-weight: bolder;
  }

  /* Navbar styles */
  .navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .navbar-nav {
    flex-direction: row;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .nav-item {
    font-family: "Open Sans";
    font-weight: 900;
    font-size: 20px;
  }

  /* Main box and section styles */
  .main-box {
    align-items: flex-start;
    height: auto;
  }
  .main-box1 {
    width: 90%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .main-box-2 h2 {
    text-transform: uppercase;
    text-decoration: underline;
    margin: 30px auto;
    font-weight: 900;
    width: 806;
    text-align: center;
    font-size: 55px;
    width: 80%;
  }
  .main-box-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    height: 30vw;
    margin: 30px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .main-box-p {
    display: flex;
    height: 65%;
    justify-content: space-between;
    flex-direction: column;
    font-size: 18px;
    text-align: center;
  }
  /* footer  */

  footer {
    outline: 1px solid #cce7f3 !important;
    display: grid;
    margin-top: 50px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column: 25%;
    width: 100%;
    height: 300px;
  }
  .footer-text-grid {
    height: 150px;
    display: flex;
    flex-direction: column;
  }

  .footer-img {
    display: flex;
    margin: auto;
    height: 200px;
    width: 200px;
  }
  .footer-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
  }
  .footer-box h2 {
    font-size: 29px;
    font-weight: 900;
  }
  .nav-item {
    text-align: center;
    font-size: 20px;
  }

  .footer-text-grid {
    height: 150px;
  }
}
